header {
  background-color: DarkKhaki;
  padding:35px;
  text-align: center;
  font-family: Noticia Text, serif;
}

body {
  background-color: lightgrey;
  font-family: Noticia Text, serif;
  text-align: center;
}

h2 {
border:1px solid;
background-color: DarkKhaki;
border-color: transparent;
margin-bottom: 30px;
margin-top: 50px;
}

.contact {
  text-align: right;
  margin-right: 20px;
}

.prez p:nth-child(1){
  padding-right: 112px;
  padding-left: 112px;
}
